.search-theme-wrapper {
  .SearchForm {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #eee;
    margin-left: 0;
    margin-right: 0;
  }

  .SearchForm form {
    display: table;
    width: 100%;
  }

  .SearchForm__guests,
  .SearchForm__location,
  .SearchForm__dates,
  .SearchForm__submit {
    padding: 15px 16px 8px !important;
    display: table-cell;
    float: none;
  }

  .SearchForm__guests {
    padding-right: 0 !important;
  }

  .SearchForm__submit {
    vertical-align: middle;
    padding-bottom: 16px !important;
  }

  .SearchForm__submit .hide-lg {
    display: inline-block;
  }

  .SearchForm__submit button {
    border-radius: 4px;
  }

  .SearchForm__label {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    letter-spacing: -0.5px;
    white-space: nowrap;
  }

  .SearchForm__inputs-wrapper {
    display: table;
    table-layout: fixed;
    float: none;
    width: 100%;
    padding-left: 0;
  }

  .GuestInput {
    color: #888;
  }

  .guest-picker-select {
    position: relative;
  }

  .guest-picker-select svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
  }

  .SearchForm__guests .GuestPickerTrigger__button .dropdown-icon svg,
  .guest-picker-select svg {
    right: 5px;
  }

  .SearchForm__guests .guest-label {
    margin-right: 1.5em !important;
  }

  .GuestInput.changed {
    color: inherit;
  }

  .DateRangePickerInput,
  .LocationInput,
  .GuestInput,
  .SearchForm__guests .GuestPickerTrigger__button {
    border-style: hidden;
  }

  .SearchForm__guests .GuestPickerTrigger__button {
    padding: 0 !important;
  }

  .SearchForm__inputs-wrapper input,
  .SearchForm__inputs-wrapper select,
  .DateInput__display-text,
  .SearchForm__guests .guest-label__text {
    font-size: 19px !important;
    letter-spacing: -0.5px;
    line-height: 22px !important;
  }

  .SearchForm__guests .guest-label__text-guests {
    padding-left: 10px !important;
    padding-top: 8px !important;
  }

  .SearchForm__inputs-wrapper input,
  .SearchForm__inputs-wrapper select,
  .DateInput__display-text {
    padding: 8px 0 !important;
  }

  .DateRangePickerInput {
    margin: 0 -10px;
  }

  .SearchForm__inputs-wrapper select {
    padding-right: 1em !important;
  }

  .SearchForm__row {
    display: table-row;
    width: 100%;
  }

  .DateInput__display-text--focused,
  .LocationInput:focus,
  .GuestInput:focus,
  .SearchForm__guests .GuestPickerTrigger__button:focus,
  .SearchForm__guests .guest-label__text.highlight {
    outline: none !important;
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    color: inherit;
    box-shadow: 0px 1px 0px #008489 !important;
  }

  .DateInput__display-text--has-input.DateInput__display-text--focused {
    color: #484848;
  }

  .SearchForm__guests .guest-label__text-guests.highlight {
    padding-right: 0 !important;
  }

  .SearchForm__guests .guest-label__text-guests,
  .SearchForm__guests .guest-label__text-infants.highlight {
    padding-left: 0 !important;
  }

  .SearchForm__guests .GuestPickerTrigger__button {
    outline: none;
  }

  .SearchForm__guests,
  .guests-text,
  .DropDownWrapper .guests-text {
    width: 15%;
  }

  .SearchForm__guests_infants,
  .guests-text_infants,
  .DropDownWrapper .guests-text_infants {
    width: 21%;
  }

  .DropDownWrapper .guests-text_infants {
    padding-left: 16px;
  }

  .SearchForm__location,
  .location-text,
  .DropDownWrapper .location-text {
    width: 34%;
  }

  .SearchForm__location_infants,
  .location-text_infants,
  .DropDownWrapper .location-text_infants {
    width: 28%;
  }

  .DropDownWrapper .location-text_infants {
    padding: 0 16px;
  }

  .SearchForm__dates,
  .dates-text,
  .DropDownWrapper .dates-text {
    width: 35%;
  }

  /* offset for borders */
  .DropDownWrapper .location-text,
  .DropDownWrapper .location-text_infants,
  .DropDownWrapper .dates-text {
    margin-right: 2px;
  }

  .SearchForm__dates,
  .SearchForm__guests {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
  }

  .SearchForm__guests select {
    height: 38px !important;
    -moz-appearance: none;
  }

  .DateInput {
    padding: 0 !important;
    margin-left: 10px;
    color: #888;
  }

  .DateRangePickerInput__clear-dates {
    margin-top: 0;
    position: absolute;
    right: 0;
  }

  .DateRangePickerInput {
    width: auto;
    display: block;
  }

  @media (max-width: 900px) and (min-width: 744px) {
    .DateRangePickerInput__arrow svg {
      height: 16px;
      width: 16px;
    }

    .DateInput {
      width: 95px;
    }
  }

  .LocationInputDropDown__section--suggestions {
    border-top: hidden !important;
  }

  .LocationInputDropDown__section--suggestions .DropDownOption {
    padding-left: 16px;
  }

  .DropDownOption {
    background: #fff;
    border-top: hidden !important;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 0;
  }

  .DropDownOption--focused {
    background: #f2f2f2;
  }

  .DropDownOption--focused div,
  .DropDownOption--focused span {
    color: #008489;
  }

  .SavedSearch {
    display: table-row;
    width: 100%;
  }

  .location-text,
  .dates-text,
  .guests-text {
    display: table-cell;
    padding-left: 16px !important;
  }

  .location-text,
  .dates-text,
  .guests-text,
  .guests-text_infants,
  .location-text_infants {
    white-space: nowrap;
    overflow: hidden;
  }

  .input-placeholder-label,
  .icon-map-marker,
  .icon-listings,
  .icon-search {
    display: none;
  }

  .DropDownWrapper {
    padding-right: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
  }

  @media screen and (min-width: 1128px) {
    .SearchForm__submit button {
      font-size: 18px !important;
      line-height: 24px !important;
      padding-top: 11px !important;
      padding-bottom: 11px !important;
      font-weight: normal;
      padding-left: 16px;
      padding-right: 16px;
      width: auto;
      min-width: 106px;
      float: right !important;
    }

    .SearchForm__location_infants,
    .DropDownWrapper .location-text_infants {
      width: 34%;
    }

    .SearchForm__submit {
      width: 15.66667%;
    }

    .SearchForm__guests,
    .DropDownWrapper .guests-text_infants {
      width: 16%;
    }
  }

  .LocationInput::-webkit-input-placeholder,
  .DateInput__input::-webkit-input-placeholder {
    color: #888;
    font-weight: normal;
  }

  .LocationInput::-moz-placeholder,
  .DateInput__input::-moz-placeholder {
    color: #888;
    font-weight: normal;
    opacity:  1;
  }

  .LocationInput:-moz-placeholder,
  .DateInput__input:-moz-placeholder {
    color: #888;
    font-weight: normal;
    opacity:  1;
  }

  .LocationInput:-ms-input-placeholder,
  .DateInput__input:-ms-input-placeholder {
    color: #888;
    font-weight: normal;
  }
}
