<div class="container">
  <h2>Store Mangement</h2>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Booking", bookings_path, class: "btn btn-primary" %>
    <%= link_to "Portfolio", portfolios_path, class: "btn btn-primary" %>
    <%= link_to "Policy", policies_path, class: "btn btn-primary" %>
  </div>
</div>
