<div class="col-sm-6" style="padding-left: 15px; padding-right: 15px">
  <div class="simple-image-entry">
    <a class="mouseover poster-3d lightbox shadow" data-offset="5" href="<%= cat_link %>" style="background-image: url(<%= asset_path(image_name) %>); transform: translateY(0px) rotateX(0deg) rotateY(0deg);">
      <span class="layer-1 full-size" data-offset="10" style="transform: translateX(0px) translateY(0px);">
        <span class="mouseover-helper-frame"></span>
      </span>
      <span class="layer-1 full-size" data-offset="20" style="transform: translateX(0px) translateY(0px);">
        <span class="mouseover-helper-icon"></span>
      </span>
      <span class="shine" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: linear-gradient(288.338deg, rgba(255, 255, 255, 0.294118) 0%, rgba(255, 255, 255, 0) 80%);"></span>
    </a>
    <div class="text-content" style="min-height: 80px;">
      <div class="row">
        <div class="col-md-6 col-xs-text-center col-md-text-left">
          <div class="h5" style="color: #EEE">
            <b>
              <%= link_to category_name, albums_path(:category => category_name), class: "mouseover-simple size-1" %>
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-space col-xs-b35 col-sm-b0"></div>
</div>
