<div class="search-theme-wrapper">
  <div id="hero-banner-hosted">
    <ul id="hero-banner-tab-nav" class="ag-tab-nav clearfix">
      <li class="active"><a href="#tab-hotel" data-toggle="tab" data-tab="hotel" style="font-family: sans-serif;">Pick a Photographer</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-hotel" class="tab-pane active">
        <div id="oneline-searchbox" class="oneline-searchbox" data-selenium="searchBox">
          <dl class="form-group">
            <dt style="font-family: sans-serif;">Where would you like to go?</dt>
            <dd style="font-family: sans-serif;">
              <%= select_tag :location, options_for_select(@locations.collect{|location| [location.name, location.id] }), class: "form-control text-editor oneline-text-editor" %>
              <!-- <input type="text" class="form-control text-editor oneline-text-editor" placeholder="Enter a location, property name, or landmark" data-selenium="textInput"> -->
              <i class="icon icon-clear close-autocomplete"></i>
            </dd>
          </dl>
          <dl class="form-group">
            <dt style="font-family: sans-serif;">Start date:</dt>
            <dd style="font-family: sans-serif;">
              <input type="text" class="form-control oneline-checkin checkin-input date-input hasDatepicker" data-provide='datepicker' value="24-11-2016">
              <i class="glyphicon glyphicon-calendar"></i>
            </dd>
          </dl>
          <dl class="form-group">
            <dt style="font-family: sans-serif;">End date:</dt>
            <dd style="font-family: sans-serif;">
              <input type="text" class="form-control oneline-checkout checkout-input date-input hasDatepicker" data-provide='datepicker' data-selenium="checkOutBox" data-date="2016-12-09">
              <i class="glyphicon glyphicon-calendar"></i>
            </dd>
          </dl>
          <dl class="form-group">
            <dt style="font-family: sans-serif;">Category:</dt>
            <dd style="font-family: sans-serif;">
              <%= select_tag :category, options_for_select(@categories.collect{|category| [category.name, category.id] }), class: "form-control oneline-guests guest-search" %>
              <!-- <input type="text" class="form-control oneline-guests guest-search"> -->
              <i class="icon icon-dropdown-arrow"></i>
            </dd>
          </dl>
          <dl class="form-actions">
            <dt>&nbsp;</dt>
            <dd>
              <button type="submit" class="btn btn-primary search-button oneline-search-button" data-selenium="searchButton" data-warning="Please enter the name of a country, city, airport, neighborhood, landmark, or property to proceed.">
                <span class="js-search-button-unclicked-label">
                  Search
                </span>
                <span class="js-search-button-clicked-label search-button-clicked-label">
                  <i class="submit-progress-spinner"></i>
                </span>
              </button>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
 $('.datepicker').datepicker({
   format: "yyyy-mm-dd",
   todayHighlight: true,
   todayBtn: 'linked',
   autoclose: true
 });
</script>
