<div class="container">
  <h1>Home Index</h1>
  <br />
  <%= link_to "Add Country", new_countries_path %>
  <%= link_to "Add Location", new_locations_path %>
  <%= link_to "Add Category", new_categories_path %>
</div>
