<!-- Video Background -->
<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div class="page-height" style="height: 703px; min-height: 703px;">
      <div class="full-size video-wrapper">
        <%= video_tag("home_video.mp4", autoplay: true, loop: true, muted: true) %>
      </div>
      <div class="full-size-banner-entry full-size valign-middle">
        <div class="valign-text-wrapper text-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="h2 light"><b>PICKAGRAPHER</b></div>
              <div class="empty-space col-xs-b15"></div>
              <div class="banner-max-width">
                <div class="simple-article large light transparent">Your moments, captured!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-button style-3 light hidden-xs"></div>
    </div>
  </div>
</div>

<!-- Category Images -->
<div class="stamford-theme-wrapper">
  <div id="wrap">
    <div clas="content-wrapper">
      <div id="content">
        <div class="container clearfix">
          <div id="container" class="clearfix" style="position: relative;">
            <div class="element clearfix col1-3 portfolio menu" style="position: absolute; left: 0px; top: 0px;">
              <div class="images"><%= image_tag('image11') %></div>
              <div class="white white-bottom">
                <h2>Selected Photos</h2>
                <p>Browse through my portfolio:</p>
              </div>
            </div>

            <div class="element clearfix col1-3 home portfolio germany" style="position: absolute; left: 380px; top: 0px;">
              <div class="images">
                <%= image_tag('image01') %>
                <div class="hidden-infos" style="display: none; opacity: 1;">
                  <div class="overlay"></div>
                </div>
                <div class="title">
                  <div class="title-wrap" style="width: 0px;">
                    <h3>Castle on Water</h3>
                  </div>
                </div>
                <div class="subtitle">
                  <div class="subtitle-wrap" style="width: 0px;">
                    <p>Germany</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="element clearfix col1-3 half portfolio sweden" style="position: absolute; left: 760px; top: 0px;">
              <div class="images">
                <%= image_tag('image43') %>
                <div class="hidden-infos" style="display: none; opacity: 1;">
                  <div class="overlay"></div>
                </div>
                <div class="title">
                  <div class="title-wrap" style="width: 0px;">
                    <h3>Cool Train</h3>
                  </div>
                </div>
                <div class="subtitle">
                  <div class="subtitle-wrap" style="width: 0px;">
                    <p>Sweden</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
