<div style="background-color: #151517; padding: 12px 20px 10px 20px; margin-top: 1px;">
  <div>
    <%= image_tag(current_user.image_url ? current_user.image_url : current_user.profile_image, class: 'logo nav-item round-image-90 order-comment-avatar') %>
    <span style="display: inline-block; color: #FFF;">
      <span style="margin-left: 6px;"><span style="font-weight: bold; color: #619FBA;"><%= user_name %> &nbsp;</span><%= user_content %></span>
  </div>
    </span>
</div>
