<div class="payment-theme-wrapper">
  <div data-hypernova-key="p3book_itbundlejs">
    <div data-reactid=".1fjoufm562o" data-react-checksum="-886546193">
      <div class="" data-reactid=".1fjoufm562o.0">
        <!-- <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="book-it__price" data-reactid=".1fjoufm562o.0.0" style="height: 40px;">
          <div class="row" aria-labelledby="book-it-price-string book-it-rate-type ib-tooltip-title" data-reactid=".1fjoufm562o.0.0.0">
            <div class="col-sm-8" data-reactid=".1fjoufm562o.0.0.0.0">
              <div class="book-it__price-amount text-special" data-reactid=".1fjoufm562o.0.0.0.0.0">
                <span id="book-it-price-string" data-reactid=".1fjoufm562o.0.0.0.0.0.0">
                  <span class="h3" data-reactid=".1fjoufm562o.0.0.0.0.0.0.0">
                    <span data-reactid=".1fjoufm562o.0.0.0.0.0.0.0.0">₫587585</span>
                  </span>
                </span>
                <span data-reactid=".1fjoufm562o.0.0.0.0.0.2">
                  <i class="icon icon-instant-book icon-beach h4 book-it__instant-book-price-icon" aria-labelledby="ib-tooltip-title" aria-describedby="ib-tooltip-description" data-reactid=".1fjoufm562o.0.0.0.0.0.2.0"></i>
                  <noscript data-reactid=".1fjoufm562o.0.0.0.0.0.2.1"></noscript>
                </span>
              </div>
            </div>
            <div class="col-sm-4" data-reactid=".1fjoufm562o.0.0.0.1">
              <div class="book-it__payment-period-container pull-right" data-reactid=".1fjoufm562o.0.0.0.1.0">
                <div class="book-it__payment-period" id="book-it-rate-type" data-reactid=".1fjoufm562o.0.0.0.1.0.0">
                  <span data-reactid=".1fjoufm562o.0.0.0.1.0.0.0">Per Night</span>
                </div>
              </div>
            </div>
          </div>
          <meta content="VND" itemprop="priceCurrency" data-reactid=".1fjoufm562o.0.0.2">
          <meta content="587585" itemprop="price" data-reactid=".1fjoufm562o.0.0.3">
        </div> -->

        <form method="post" action="https://www.airbnb.com/payments/book?s=_vKqwlKH&amp;hosting_id=4616448" data-reactid=".1fjoufm562o.0.1">
          <div class="panel book-it-panel" data-reactid=".1fjoufm562o.0.1.0">
            <div class="panel-body panel-light" data-reactid=".1fjoufm562o.0.1.0.0" style="font-family: Circular,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.43;color: #484848;background-color: #fff;-webkit-font-smoothing: antialiased;">
              <div class="row row-condensed space-3" data-reactid=".1fjoufm562o.0.1.0.0.0">
                <div class="col-md-12" data-reactid=".1fjoufm562o.0.1.0.0.0.0">
                  <div class="row row-condensed" data-reactid=".1fjoufm562o.0.1.0.0.0.0.0">
                    <div class="col-sm-6" data-reactid=".1fjoufm562o.0.1.0.0.0.0.0.0">
                      <label class="book-it__label" for="datespan-checkin" data-reactid=".1fjoufm562o.0.1.0.0.0.0.0.0.0">Start date</label>
                      <input id="datespan-checkin" type="text" name="checkin" aria-describedby="datespan-checkin-description" class="checkin ui-datepicker-target" placeholder="23/12/2016" data-reactid=".1fjoufm562o.0.1.0.0.0.0.0.0.1">

                    </div>
                    <div class="col-sm-6" data-reactid=".1fjoufm562o.0.1.0.0.0.0.0.1">
                      <label class="book-it__label" for="datespan-checkout" data-reactid=".1fjoufm562o.0.1.0.0.0.0.0.1.0">End date</label>
                      <input id="datespan-checkout" type="text" name="checkout" aria-describedby="datespan-checkout-description" class="checkout ui-datepicker-target" placeholder="25/12/2016" data-reactid=".1fjoufm562o.0.1.0.0.0.0.0.1.1"></div>

                    </div>
                  </div>
                  <div class="col-md-12 space-top-3" data-reactid=".1fjoufm562o.0.1.0.0.0.1">
                    <div data-reactid=".1fjoufm562o.0.1.0.0.0.1.0" class="GuestPickerContainer">
                      <label for="number_of_guests_4616448" class="book-it__label" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.0">
                        <span data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.0.0">Photoshoot place</span>
                      </label>
                      <div class="GuestPickerTrigger" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1">
                        <button class="GuestPickerTrigger__button" type="button" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.0">
                          <div class="guest-label" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.0.0">
                            <span class="guest-label__text guest-label__text-guests" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.0.0.0">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.0.0.0.0">Saigon</span>
                            </span>
                          </div>
                          <div class="dropdown-icon" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.0.1">
                            <svg viewBox="0 0 18 18" style="fill:currentColor;height:12px;width:12px;display:block;" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.0.1.0">
                              <path d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.0.1.0.0"></path>
                            </svg>
                          </div>
                        </button>
                        <div data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1">
                          <div class="GuestPicker hide" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0">
                            <div class="GuestPickerRow row row-condensed" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults">
                              <div class="col-sm-8 GuestPickerRow__label" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.0">
                                <strong aria-live="polite" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.0.0">2 adults</strong>
                              </div>
                              <div class="col-sm-4 increment-btn-container" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.1">
                                <div class="increment-btn" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.1.0">
                                  <button class="btn btn-decrement" aria-label="Decrement number of adults" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.1.0.0">
                                    <i class="icon icon-minus" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.1.0.0.0"></i>
                                  </button>
                                  <button class="btn btn-increment" aria-label="Increment number of adults" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.1.0.1">
                                    <i class="icon icon-add" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$adults.1.0.1.0"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="GuestPickerRow row row-condensed" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children">
                              <div class="col-sm-8 GuestPickerRow__label" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.0">
                                <strong aria-live="polite" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.0.0">0 children</strong>
                                <div class="pull-right text-muted text-small" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.0.1">Ages 2 - 12</div>
                              </div>
                              <div class="col-sm-4 increment-btn-container" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.1">
                                <div class="increment-btn" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.1.0">
                                  <button class="btn btn-decrement" disabled="" aria-label="Decrement number of children" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.1.0.0">
                                    <i class="icon icon-minus" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.1.0.0.0"></i>
                                  </button>
                                  <button class="btn btn-increment" aria-label="Increment number of children" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.1.0.1">
                                    <i class="icon icon-add" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$children.1.0.1.0"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="GuestPickerRow row row-condensed" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants">
                              <div class="col-sm-8 GuestPickerRow__label" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.0">
                                <strong aria-live="polite" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.0.0">0 infants</strong>
                                <div class="pull-right text-muted text-small" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.0.1">Under 2</div>
                              </div>
                              <div class="col-sm-4 increment-btn-container" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.1">
                                <div class="increment-btn" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.1.0">
                                  <button class="btn btn-decrement" disabled="" aria-label="Decrement number of infants" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.1.0.0">
                                    <i class="icon icon-minus" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.1.0.0.0"></i>
                                  </button>
                                  <button class="btn btn-increment" aria-label="Increment number of infants" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.1.0.1">
                                    <i class="icon icon-add" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.0:$infants.1.0.1.0"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="GuestPickerFooter text-muted text-small" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1">
                              <div class="row row-condensed" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0">
                                <div class="col-sm-9" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0.0">
                                  <span class="GuestPickerFooter__note" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0.0.0">
                                    <span data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0.0.0.0">2 guests maximum</span>
                                    <span class="screen-reader-only" aria-live="assertive" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0.0.0.1"></span>
                                  </span>
                                </div>
                                <div class="col-sm-3 text-right GuestPickerFooter__close" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0.1">
                                  <button class="btn-link" type="button" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0.1.0">
                                    <span data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.1.1.0.1.0.1.0.0">close</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="number_of_guests" value="2" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.$number_of_guests_4616448">
                      <input type="hidden" name="number_of_adults" value="2" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.3:$number_of_adults_4616448">
                      <input type="hidden" name="number_of_children" value="0" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.3:$number_of_children_4616448">
                      <input type="hidden" name="number_of_infants" value="0" data-reactid=".1fjoufm562o.0.1.0.0.0.1.0.3:$number_of_infants_4616448">
                    </div>
                  </div>
                </div>
                <div class="book-it__subtotal" data-reactid=".1fjoufm562o.0.1.0.0.1">
                  <div class="" data-reactid=".1fjoufm562o.0.1.0.0.1.1">
                    <table class="table" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0">
                      <caption class="screen-reader-only" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.0">
                        <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.0.0">Price breakdown</span>
                      </caption>
                      <thead data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1">
                        <tr data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1.0">
                          <th scope="col" class="hide-border-top hide-padding" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1.0.0">
                            <span class="screen-reader-only" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1.0.0.0">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1.0.0.0.0">Price description</span>
                            </span>
                          </th>
                          <th scope="col" class="hide-border-top hide-padding" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1.0.1">
                            <span class="screen-reader-only" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1.0.1.0">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.1.0.1.0.0">Amount</span>
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2">
                        <tr class="price-item" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights">
                          <th class="price-item__header hide-border-top" scope="row" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0">
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.0">Category</span>
                            <span aria-hidden="true" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.2">&nbsp;</span>
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3.0">
                                <i class="icon icon-question" aria-label="Average nightly rate is rounded." data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3.0.0"></i>
                                <noscript data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3.0.1"></noscript>
                              </span>
                            </span>
                          </th>
                          <td class="text-right price-item__price hide-border-top" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.1">
                            <div class="" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.1.0">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.1.0.0">Wedding</span>
                            </div>
                          </td>
                        </tr>
                        <!-- <tr class="price-item" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights">
                          <th class="price-item__header hide-border-top" scope="row" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0">
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.0">Shoting place</span>
                            <span aria-hidden="true" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.2">&nbsp;</span>
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3.0">
                                <i class="icon icon-question" aria-label="Average nightly rate is rounded." data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3.0.0"></i>
                                <noscript data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.0.3.0.1"></noscript>
                              </span>
                            </span>
                          </th>
                          <td class="text-right price-item__price hide-border-top" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.1">
                            <div class="" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.1.0">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$₫587,585 x 2 nights.1.0.0">Saigon</span>
                            </div>
                          </td>
                        </tr> -->
                        <tr class="price-item" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee">
                          <th class="price-item__header" scope="row" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0">
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.0">₫20,000,000 x 2 days</span>
                            <span aria-hidden="true" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.2">&nbsp;</span>
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3.0">
                                <i class="icon icon-question" aria-label="This helps us run our platform and offer services like 24/7 support on your trip." data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3.0.0"></i>
                                <noscript data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3.0.1"></noscript>
                              </span>
                            </span>
                          </th>
                          <td class="text-right price-item__price" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.1">
                            <div class="" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.1.0">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.1.0.0">₫40,000,000</span>
                            </div>
                          </td>
                        </tr>
                        <tr class="price-item" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee">
                          <th class="price-item__header" scope="row" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0">
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.0">Travel fee</span>
                            <span aria-hidden="true" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.2">&nbsp;</span>
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3.0">
                                <i class="icon icon-question" aria-label="This helps us run our platform and offer services like 24/7 support on your trip." data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3.0.0"></i>
                                <noscript data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.0.3.0.1"></noscript>
                              </span>
                            </span>
                          </th>
                          <td class="text-right price-item__price" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.1">
                            <div class="" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.1.0">
                              <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.0:$Service fee.1.0.0">₫4,000,000</span>
                            </div>
                          </td>
                        </tr>
                        <tr data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.1">
                          <th class="price-item__header" scope="row" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.1.0">
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.1.0.0">Total</span>
                          </th>
                          <td class="text-right" data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.1.1">
                            <span data-reactid=".1fjoufm562o.0.1.0.0.1.1.0.2.1.1.0">₫44,000,000</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="book-it__btn-width" data-reactid=".1fjoufm562o.0.1.0.0.2">
                  <button type="submit" class="btn btn-primary btn-large btn-block" data-reactid=".1fjoufm562o.0.1.0.0.2.0">
                    <span data-reactid=".1fjoufm562o.0.1.0.0.2.0.0">Book Now !</span>
                  </button>
                  <div class="bookit-message__container text-center text-muted" data-reactid=".1fjoufm562o.0.1.0.0.2.1">
                    <small data-reactid=".1fjoufm562o.0.1.0.0.2.1.0">
                      <span data-reactid=".1fjoufm562o.0.1.0.0.2.1.0.0">Tax included</span>
                    </small>
                  </div>
                </div>
                <div class="hide" data-reactid=".1fjoufm562o.0.1.0.0.3">
                  <button type="button" class="btn btn-primary btn-large btn-small btn-block" data-reactid=".1fjoufm562o.0.1.0.0.3.0">
                    <span data-reactid=".1fjoufm562o.0.1.0.0.3.0.0">Contact host</span>
                  </button>
                  <div data-reactid=".1fjoufm562o.0.1.0.0.3.1">
                    <noscript data-reactid=".1fjoufm562o.0.1.0.0.3.1.0"></noscript>
                  </div>
                </div>
                <div data-reactid=".1fjoufm562o.0.1.0.0.6"> </div>
              </div>
            </div>
          </form>
        </div>
        <noscript data-reactid=".1fjoufm562o.2"></noscript>
      </div>
    </div>
  </div>
