<div class="container">
  <h2>Edit Album</h2>
  <br />
  <div class="form">
    <%= form_for @album, url: album_path(@album), :method => :put do |f| %>
    <%= render partial: "form", :locals => {f: f} %>
    <div class="form-group">
      <%= f.submit "Add", class: "btn btn-primary"%>
      <%= link_to 'Cancel', :back, class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
