<div class="container">
  <h2>Add Album</h2>
  <br />
  <div class="form">
    <%= form_for @album, :html => { :multipart => true } do |f| %>
    <%= render partial: "form", locals: {:f => f} %>
    <div class="form-group">
      <%= f.submit "Add"%>
      <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
