<div class="container">
  <h2>Add Country</h2>
  <br />
  <div class="form">
    <%= form_for Country.new do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.submit "Add"%>
    </div>
    <% end %>
  </div>
</div>
