.album-thumb {
  object-fit: cover;
  height: 38vw;
  background-position: center;
  background-size: cover;
}

.album-thumb-half {
  object-fit: cover;
  height: 19vw;
  background-position: center;
  background-size: cover;
}

.album-list-photographer-name {
  font-style: italic;
  font-weight: bold;
  color: #777;
}
