.album-thumb {
  object-fit: cover;
  height: 34vw;
  background-position: center;
  background-size: cover;
}

.album-thumb-half {
  object-fit: cover;
  height: 17vw;
  background-position: center;
  background-size: cover;
}
