@import "bootstrap";
@import "bootstrap/glyphicons";
// @import "glyphicons";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./template/bootstrap.extension.scss";
@import "./template/boxesFx.css";
@import "./template/font-awesome.min.css";
@import "./template/simplelightbox.css";
@import "./template/style.scss";
@import "./template/swiper.css";
@import "./template/style_2.scss";
@import "./template/style_3.scss";
@import "./template/form-elements.scss";
@import "./template/studio-bootstrap.scss";
@import "./template/studio-bootstrap.min.scss";
@import "./template/studio-bootstrap-table.scss";
@import "./template/studio-bootstrap-theme.scss";
@import "./template/studio-bootstrap-theme.min.scss";
@import "./template/studio-datepicker.scss";
@import "./template/studio-datepicker3.scss";
@import "./template/studio-rgba-fallback.scss";
@import "./template/studio-styles.scss";
// @import "./template/search-common.scss";
// @import "./template/search-index.scss";
// @import "./template/search-main.scss";
@import "./template/pickmeup";

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #000;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.round-image-90 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 45px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  height: 90px;
  width: 90px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.under-nav-bar {
  margin-top: 120px;
}
