<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div id="content-block">
      <header class="type-4 fixed light scrolled">
        <div class="wide-container-fluid">
          <div class="row">
            <div class="col-xs-6 col-sm-2">
              <a class="logo"><%= image_tag('logo1') %></a>
            </div>
            <div class="col-xs-6 col-sm-10 text-right">
              <div class="navigation-wrapper">
                <a class="logo responsive"><img src="img/logo.png" alt=""></a>
                <div class="navigation-overflow">
                  <nav class="text-left clearfix">
                    <ul>
                      <li class="active">
                        <a href="about1.html">About</a>
                      </li>
                      <li>
                        <a href="services1.html">Services</a>
                      </li>
                      <li>
                        <a href="blog1.html">Blog</a>
                      </li>
                      <li>
                        <a href="elements.html">Elements</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="page-height" style="height: 703px; min-height: 703px;">
      <div class="full-size video-wrapper">
        <%= video_tag("home_video.mp4", autoplay: true, loop: true, muted: true) %>
      </div>
      <div class="full-size-banner-entry full-size valign-middle">
        <div class="valign-text-wrapper text-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="h2 light"><b>FASCINATING VIEW</b></div>
              <div class="empty-space col-xs-b15"></div>
              <div class="banner-max-width">
                <div class="simple-article large light transparent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-button style-3 light hidden-xs"></div>
    </div>
  </div>
</div>
