<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div id="content-block">
      <header class="type-4 fixed light scrolled">
        <div class="wide-container-fluid">
          <div class="row">
            <div class="col-xs-6 col-sm-2">
              <%= link_to image_tag('logo'), root_path, class: "logo" %>
            </div>
            <div class="col-xs-6 col-sm-10 text-right">
              <div class="navigation-wrapper">
                <a class="logo responsive"><%= image_tag('logo.png') %></a>
                <div class="navigation-overflow">
                  <nav class="text-left clearfix">
                    <ul>
                      <% if user_signed_in? %>
                      <% else %>
                        <li class="<%= 'active' if request.path == new_user_session_path %>">
                          <%= link_to 'Sign In', new_user_session_path %>
                        </li>
                      <% end %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
