<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div id="content-block">
      <header class="type-4 fixed light scrolled">
        <div class="wide-container-fluid">
          <div class="row">
            <div class="col-xs-6 col-sm-2">
              <a class="logo"><%= image_tag('logo1') %></a>
            </div>
            <div class="col-xs-6 col-sm-10 text-right">
              <div class="navigation-wrapper">
                <a class="logo responsive"><img src="img/logo.png" alt=""></a>
                <div class="navigation-overflow">
                  <nav class="text-left clearfix">
                    <ul>
                      <li class="active">
                        <a href="about1.html">About</a>
                      </li>
                      <li>
                        <a href="services1.html">Services</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
